.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 280px;
  position: absolute;
  bottom: 56%;
  right: 13%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); opacity: 0.5; }
  to { transform: rotate(360deg); opacity: 1; }
}